.news-summary
{

}

.news-title
{
	margin:0px;
	margin-bottom:20px;
	margin-top:19px;
	color:#803000;
	font-weight:bolder;	
	text-align:left;
	padding-left:0px;
	text-indent:0px;
	border-width:0px;
	border-style:solid;
	border-top-width:1px;
	border-top-color:#ff8000;
}

.news-text
{
	
}

.news-link
{
	
}

.news-image
{
	text-align:center;
}
