body
{
	margin:0px;
	padding:0px;
	background-image:url(background-14.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	font-size:14px;
	font-family:verdana;
	min-height:1200px;
    color:#000000;
    overflow:auto;
}

div.page, div.page-search
{
	background-color:#000000;
	margin-top:64px;
	margin-bottom:0px;
	margin-left:auto; 
	margin-right:auto;
	width:1000px;
	min-height:300px;
	/*font-family:Century, Arial;*/
	/*font-family::Georgia;*/
	/*font-family:"Century Gothic";*/
	/*sans-serif, Courier New for the code!*/
	/*
	border-bottom-left-radius: 16px 16px;
	border-bottom-right-radius: 16px 16px;
	border-top-left-radius: 16px 16px;
	border-top-right-radius: 16px 16px;
	*/
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	/*font-size:16px;*/
}

div.page-search
{
	background-color:#FFF0F8;
}

div.page-foot
{
	color:#ffffff;
	margin-left:auto; 
	margin-right:auto;
	padding-bottom:64px;
	width:1000px;
	text-align:center;
	background-color:transparent;
	font-size:10px;
	font-family:Century;
}

a.page-foot
{
	color:#ffffff;
	text-decoration:none;
}

a.page-foot:hover
{
	color:#ffffff;
	text-decoration:underline;
}

a.image-link
{
	padding-top:2px;
	display:block;
	width:100%;
}

a.image-link:hover
{

}

a.image-link-hidden
{
	color:transparent;
	display:block;
	width:100%;
	height:100%;
}

object.slideshow-index
{
	background-color:#000000;
	color:#000000;
	width:900px;
	height:600px;
	padding:32px;
}

div.post-frame-photo
{
	background-color:#000000;
	display:block;
	border-bottom-left-radius: 16px 16px;
	border-bottom-right-radius: 16px 16px;
	width:1000px;
	padding-top:0px;
	padding-bottom:0px;
	text-align:center;
}

a.page-index-photo,
a.page-index-photo-title
{
	display:inline-block;
	background-position:center, center;
	background-repeat:no-repeat;
	color:transparent;
	text-align:center;
	
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	
	margin:16px;
	/*padding:16px;*/
	
	width:96px;
	height:96px;
}

a.page-index-photo-title
{
	margin:0px;
	margin-right:8px;
	margin-left:8px;
	border-radius:0px;
}

a.page-index-photo:hover,
a.page-index-photo-title:hover
{
	color:transparent;
	border-color:#ffffff;
}

img.page-index-photo
{
	padding:32px;
	background-color:#000000;	
	width:64px;
	height:64px;
}

img.crea-side-photo
{
	margin:auto;
	display:block;
	vertical-align:middle;
	background-color:#ff8000;
}

div.share
{

}

div.share:after
{
	clear:both;
}

div.content-search
{
	float:left;
	width:640px;
	margin:0px;
}

div.content-menu
{
	float:right;
	background-color:#ffffff;
	padding-left:0px;
	padding-right:0px;
	text-align:left;
	margin-top:4px;
}

div.post-menu
{
    background-color:transparent;
    text-align:center;
    padding:0px;
    margin:0px;
    color:#304703;
}

span.post-menu-entry
{
	display:block;
	padding:8px;
	font-size:12px;
	font-family:Century;
	position:static;
/*
    background: -webkit-gradient(
					linear, 
					left top, left bottom, 
					from(#ffeedd),
					color-stop(0.33, #fff8f0), 
					to(#ffddbb));
*/
	border-radius:16px;
	border-style:solid;
	border-width:1px;
}

a.post-menu-entry
{
	color:#FA79ED;
	width:100%;
	height:100%;
}

a.post-menu-entry:hover
{
	color:#F6C9FF;
}

div.post-frame
{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;	
	
	background-color:#FFFFFF;
	padding:32px;
	padding-right:92px;
	padding-left:92px;
    margin:0px;
	width:816px;
}

div.post-frame-content-photo
{
	border-radius:16px;
	
	color:#ffffff;
	background-color:#000000;
	padding:0px;
	padding-right:16px;
	padding-left:16px;
	padding-bottom:0px;
    margin:8px;
	width:800px;
}

div.post-frame-list
{
	border-radius:16px;
	
	background-color:#FFF0F8;
	padding:32px;
    padding-bottom:16px;
    margin:8px;
	width:700px;
}

span.post-frame-list
{
	display:inline-block;
	
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;	

	border-bottom-left-radius:6px;
	
	background-color:#FFFFFF;
	padding:32px;
    padding-bottom:16px;
    margin:0px;
    margin-right:0px;
	width:660px;
	min-height:800px;
}

ul.post-frame-menu
{
	display:inline-block;
	float:right;

	background-color:#FFF0F8;

	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;	
	border-bottom-right-radius:6px;
	
	padding:32px;
	padding-bottom:16px;
    margin:0px;
	width:212px;
	
	min-height:800px;
}

li.post-frame-menu-level0,
li.post-frame-menu-level1,
li.post-frame-menu-level2,
li.post-frame-menu-level3
{
	margin:0px;
	padding:0px;
	list-style-type:square;	
}

li.post-frame-menu-level0
{
	font-size:14px;
	font-weight:bold;
}

li.post-frame-menu-level1
{
	font-size:14px;
	margin-left:16px
}

li.post-frame-menu-level2
{
	font-size:12px;
	margin-left:32px
}

li.post-frame-menu-level3
{
	font-size:10px;
	margin-left:48px
}

span.hidden-text
{
	color:#ffffff;	
}

div.image-email
{
	width:640px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

/* Photo menu */

object
{
	background-color:#000000;
}

div.slideshow
{
	background-color:#000000;
	text-align:center;
	padding:0px;
	margin:0px;
	
	border-color:#ffffff;
	border-style:solid;
	border-width:0px;	
}

a.slideshow
{
	display:block;
}

/* Post foot links */

div.post-browse
{
	background-color:transparent;
	width:988px;

	border-radius:16px;

	min-height:24px;
	padding:6px;
}

div.post-next-text, div.post-prev-text
{
	padding:3px;
	font-size:11px;
	font-family:Century;	
}

div.post-next-text
{
	float:right;
}

div.post-prev-text
{
	float:left;
}

a.post-next-text, a.post-prev-text
{
	color:#FA79ED;
	text-decoration:none;
	font-family:Century;
}

a.post-next-text:hover, a.post-prev-text:hover
{
	color:#F6C9FF;
}

/* Button */

a.button-hidden-search,
a.button-hidden-feed
{
	border-radius:24px;
	border-width:0px;
	border-style:solid;
	border-color:transparent;
	
	background-color:#FFFFFF;
	background-position:center, center;
	background-repeat:no-repeat;
	
	text-align:center;

	color:transparent;
	display:block;
	
	float:right;
	width:48px;
	min-height:48px;
	
	margin:0px;
}

a.button-hidden-search
{
	background-image:url(button-search.png);
}

a.button-hidden-search:hover
{
	background-image:url(button-search-hover.png);
	color:transparent;
}

a.button-hidden-feed
{
	background-image:url(button-feed.png);
}

a.button-hidden-feed:hover
{
	background-image:url(button-feed-hover.png);
	color:transparent;
}

